article {
  padding-left: 5rem;
}

.btn {
  padding: 0.7em 1.3em;
  cursor: pointer;
  background: linear-gradient(90deg, #FF0053 0%, #ae2955 100%);
  border: none;
  font-size:1.2em; 
  font-weight: 700;
  color: #fff;
  border-radius:6px;
  display: flex;
  gap: 0.5rem;
}

.btn:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}