* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

article {
  display: flex;
}

.container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 3rem;
}

.loader1 {
  border-radius: 50%;
  box-shadow: 0px 5px 5px #262626;
  width: 100%;
  height: 100%;
  animation: loading1 2s linear infinite;
}

.text1 {
  position: absolute;
  border-radius: 50%;
  color: #262626;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  line-height: 100px;
  text-align: center;
}

@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text2 {
  position: absolute;
  color: rgb(38, 38, 38);
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
}

.loader2 {
  width: 100%;
  height: 100%;
  border: 7px solid rgb(233, 233, 233);    
  border-radius: 50%;
  border-top: 7px solid blue;
  animation: loading2 2s linear infinite;
}

@keyframes loading2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text3 {
  position: absolute;
  color: rgb(38, 38, 38);
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
}

.loader3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  /* text-shadow: 0 0 20px rgb(255, 80, 167); */
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.loader3:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid rgb(255, 80, 167);
  border-right: 5px solid rgb(255, 80, 167);
  border-radius: 50%;
  animation: loading3 2s linear infinite;
}

@keyframes loading3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text4 {
  position: absolute;
  color: rgb(38, 38, 38);
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
}

.loader4 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loading4 2s linear infinite;
}

@keyframes loading4 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4);
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4);
  }
}
