section {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
  font-size: 3rem;
  width: 500px;
  margin: 0;
  text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.9);
  padding-top: 10px;
}

.container-rain {
  background-color: rgb(24, 24, 24);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.container-rain span{
  width: 1.5px;
  height: 2px;
  background-color: rgb(160, 160, 160);
  animation: rain calc(40s / var(--i)) linear infinite;
}

@keyframes rain{
  0%{
      transform: translateY(0) scale(1);
  }
  70%{
      transform: translateY(250px) scale(1);
  }
  100%{
      transform: translateY(500px) scale(0);
  }
}